%h1 Out of Home Office, Tacoma
%p The anxiety is coming from INSIDE THE HOUSE!

= link_to('Add a New Visit', visit_new_path, role: "button", class: "btn btn-primary")

%h2 New great place to work?
= link_to("Add a New Location", location_new_path, role: "button", class: "btn btn-primary")
